<html>
  <head>
    <title id="title">SPŠT - OPERAČNÍ SYSTÉMY</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="imgs/ikona.png" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/mobile.css" />
    <link rel="stylesheet" href="/styles/fontawesome/css/all.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&amp;display=swap"
    />
  </head>
  <body>
    <div class="header">
      <img src="/imgs/logo_spst.png" alt="logo_spst" />
      <div id="title">SPŠT - OPERAČNÍ SYSTÉMY</div>
    </div>
    <div class="content">
      <div class="first-row">
        <div class="card">
          <div class="card-img">
            <img src="/imgs/logo_spst.png" />
            <img
              src="/imgs/profiles/393b129a-6bb0-4922-b028-fceedfb5ae22-01.jpg"
              loading="lazy"
            />
          </div>
          <div class="card-content">
            <i class="fas fa-quote-left"></i>
            <div class="card-content-text">
              Miluju virtual box, ale po čase je to zlo =)
            </div>
            <div class="card-content-student">
              <div>
                <div class="student-name">Daniel</div>
                <div class="student-class">ITA4</div>
              </div>
              <i class="fas fa-quote-right"></i>
            </div>
          </div>
        </div>
        <div class="card-reversed">
          <div class="card-img">
            <img src="/imgs/logo_spst.png" />
            <img
              src="/imgs/profiles/10057ae2-2829-4426-9165-920c9650020e-01.jpg"
              loading="lazy"
            />
          </div>
          <div class="card-content">
            <i class="fas fa-quote-left"></i>

            <div class="card-content-text">
              Myslel jsem si, že věci z hodin v praxi nevyužiji, ale mýlil jsem
              se.
            </div>
            <div class="card-content-student">
              <div>
                <div class="student-name">David</div>
                <div class="student-class">ITA4</div>
              </div>
              <i class="fas fa-quote-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="second-row">
        <div class="card">
          <div class="card-img">
            <img src="/imgs/logo_spst.png" />
            <img
              src="/imgs/profiles/60fe1dac-2172-48d6-b8c6-3d261e5dec2f-01.jpg"
              loading="lazy"
            />
          </div>
          <div class="card-content">
            <i class="fas fa-quote-left"></i>
            <div class="card-content-text">
              Virtual box je zajímavý nástroj, dokud se nesetkáte s Windows
              serverem.
            </div>
            <div class="card-content-student">
              <div>
                <div class="student-name">Marcel</div>
                <div class="student-class">ITA4</div>
              </div>
              <i class="fas fa-quote-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-wrapper" id="infoWrapper">
      <div class="info-wrapper__title">
        <h1>Tvůrci této stránky</h1>
        <h3>ITA 2018-2022</h3>
      </div>
      <div class="profiles" id="profiles">
        <div class="profile">
          <img alt="David" loading="lazy" />
          <div>David Kučera &nbsp; ITA4</div>
        </div>
        <div class="profile">
          <img alt="Dan" loading="lazy" />
          <div>Daniel Kozák &nbsp; ITA4</div>
        </div>
        <div class="profile">
          <img alt="Marcel" loading="lazy" />
          <div>Marcel Palko &nbsp; ITA4</div>
        </div>
        <div class="profile">
          <img alt="Dominik" loading="lazy" />
          <div>Dominik Molák &nbsp; ITA4</div>
        </div>
      </div>
      <div class="roll-button" onclick="rollUp()">
        <i class="fas fa-arrow-up"></i>
      </div>
    </div>
    <div class="settings" id="settings">
      <div class="settings-dialog">
        <div class="settings-dialog__header">
          <div>&nbsp;</div>
          <div>Přidat položku</div>
          <i class="fas fa-times" onclick="hideCreationDialog()"></i>
        </div>
        <div class="settings-dialog__body">
          <div
            class="settings-dialog__body-drag-place file-message--default"
            id="dragArea"
          >
            <i class="fas fa-plus"></i>
            <div>
              Klikni, nebo přetáhni soubor (.jpg, .png) do rámečku <br />
              <b>Doporučení:</b> vložte větší obrázek aby se nerozhodil hlavní
              pohled
            </div>
            <div>Špatný formát souboru !!</div>
            <input type="file" id="imageInput" />
          </div>
          <div class="settings-dialog__body-item-form">
            <label for="name">Jméno</label>
            <input type="text" name="name" />
            <label for="class">Třída</label>
            <input type="text" name="class" />
            <table>
              <caption>
                Citáty
              </caption>
              <tr>
                <td>
                  <div class="material-card">
                    <input
                      type="text"
                      name="quote"
                      oninput="expandQuoteInput(event)"
                    />
                  </div>
                </td>
                <td>
                  <div
                    class="circle-button minus"
                    onclick="removeLine()"
                    disabled
                  >
                    <i class="fas fa-minus"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="circle-button plus" onclick="addLine()">
                    <i class="fas fa-plus"></i>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="settings-dialog__footer">
          <div>
            <button disabled id="discardButton" onclick="discardImage()">
              Discard Image
            </button>
          </div>
          <div>
            <button
              disabled
              id="uploadButton"
              onclick="uploadEntity(event.target)"
            >
              Upload
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-buttons">
      <div class="circle-button" onclick="showInfo()">
        <i class="fas fa-users"></i>
      </div>
      <div class="circle-button" onclick="showCreationDialog()">
        <i class="fas fa-plus"></i>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/form.js"></script>
  </body>
</html>
