@media screen and (max-width: 744px) {
  .header {
    gap: 10px;
    height: 65px;
  }

  .header img {
    width: 1.5vw;
    min-width: 75px;
  }

  .header div {
    font-size: 20px;
  }

  .first-row {
    gap: 0;
  }

  .card,
  .card-reversed {
    height: 160px;
    width: 90vw;
    min-width: 150px;
  }

  .card-reversed > .card-img {
    margin: 0 5px 0 0;
  }

  .card-img {
    height: 160px;
    width: 138px;
  }

  .card-content {
    height: auto;
    max-height: 160px;

    padding: 10px;
    margin-left: 0;
  }

  .card-content i {
    margin-left: 0;
    font-size: 20px;
  }

  .card-content-text {
    font-size: 12px;
  }

  .card-content-student {
    padding-bottom: 0;
  }

  .student-name {
    font-size: 15px;
  }

  .student-class {
    font-size: 10px;
  }
}
