* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: 100%;
  height: 95px;
  padding: 10px;
  background-color: #113976;
  color: #fff;
}

.header div {
  margin-top: 5px;
  text-align: center;

  color: white;
  font-size: calc(15px + 2vw);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.header img {
  width: 7.5vw;
  min-width: 90px;
}

.content {
  position: relative;
  z-index: 5;
  width: 100%;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  width: 100%;
  min-height: 400px;
  padding: 20px 0;
}

.card {
  display: flex;
  height: 300px;
  width: 54vw;
  max-width: 700px;
  min-width: 450px;

  overflow: hidden;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.second-row {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  min-height: 400px;
}

.info-wrapper {
  position: fixed;
  z-index: 101;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: #000;
  transform: translateY(-1000px);
}

.info-wrapper h1 {
  margin: 0;
  color: #fff;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.team-info {
  cursor: pointer;
  z-index: 50;
  position: fixed;
  bottom: 10px;
  left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 30px;

  opacity: 0.3;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
  transition: 250ms ease-out;
}

.profiles {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.profiles img {
  height: 250px;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.profile div {
  color: #fff;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.roll-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  border: 1px solid;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  transition: background-color 350ms ease;
}

.roll-button:hover {
  background-color: #fff;
  color: #113976;
}

.team-info:hover {
  opacity: 1;
  color: #113976;
}

/* PLACE FOR ANIMATIONS */
@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000);
  }
}

@keyframes profiles-slide-down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}
